<div class="grid">
    <div class="col 12">
        <div class="card px-6 py-6">

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">

                    <p-dropdown [options]="categorias" optionLabel="name" [showClear]="true"
                        placeholder="filtrar por categorias"></p-dropdown>
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" [lazy]=true [loading]="loading"
                [totalRecords]="totalRecords" (onLazyLoad)="loadProductos($event)" responsiveLayout="scroll" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} productos" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Aministrar Productos</h5>
                        {{buscador}}
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Buscar..." class="w-full sm:w-auto"
                                [(ngModel)]="buscador" (keyup)="buscar($event)" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="id">Id <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Image</th>
                        <th pSortableColumn="precio">Precio <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="categoria_id">Categoria <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>

                        <td style="width:14%; min-width:2rem;"><span class="p-column-title">Id</span>
                            {{product.code || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{product.nombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Imagen</span>
                            <img src="http://localhost:3000/producto/file/{{product.image}}"                                
                            [alt]="product.name" width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Precio</span>
                            {{product.precio | currency:'USD'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Categoria</span>
                            {{product.categoria?.nombre}}
                        </td>

                        <td style="width: 14%; min-width:10rem ;">
                            <span class="p-column-title">Stock</span>
                            {{product.stock}}
                        </td>

                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Acciones</span>
                           <!-- <span
                                [class]="'product-badge status-' + (product.estado ? product.estado.toLowerCase() : '')">{{product.estado}}</span> -->
                        </td>
                        <td>
                            <div class="flex">
                                <p-button (click)="openDialogImagen(product.id)" icon="pi pi-image"
                                class="p-button-rounded p-button-success mr-2"></p-button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>

<p-dialog header="Actualizar Imagen" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw' , '575px': '90vw'}"
[style]="{width:'50vw'}" [draggable]="false" [resizable]="false">
<h2>Id Producto:{{producto_id}}</h2>
<p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="subirImagen($event)" [multiple]="false" accept="image/*">
    <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
                {{file.name}} - {{file.size}} bytes
            </li>
        </ul>
    </ng-template>
</p-fileUpload>
</p-dialog>